<div class="People">
<h2>Faculty</h2>
  {% assign people = site.people | where: "group", "Faculty" %}
  {% if people.size != 0 %}

    <div class="container">
      {% for person in people limit: site.people_limit %}
        {% assign remainder = forloop.index | modulo: 4 %}
        {% if forloop.first == true %}
          <div class="row">
        {% elsif remainder == 4 %}
          </div>
          <div class="row">
        {% endif %}

        {% include person.html %}

        {% if forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

<h2>PhD Researchers</h2>
  {% assign people = site.people | where: "group", "PhD" %}
  {% if people.size != 0 %}

    <div class="container">
      {% for person in people limit: site.people_limit %}
        {% assign remainder = forloop.index | modulo: 4 %}
        {% if forloop.first == true %}
          <div class="row">
        {% elsif remainder == 4 %}
          </div>
          <div class="row">
        {% endif %}

        {% include person.html %}

        {% if forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
